
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;


  }

.bgimg{
    background-image: url('../images/josh-rose-trYl7JYATH0-unsplash.jpg');
    height: 60vh;
}
pre{
  font-family:  "Hubballi", sans-serif;
  font-size: 20px;
}
.maintext p{
    font-size:125px:
}


.hearderset{
    padding-top: 250px;
    box-sizing:border-box;
}
.hearderset p{
 font-size:2rem;
}



.nav_style {
    background:#fff;
    box-shadow:0 50px 30px 0 rgba(0, 0, 0, 0.15) ;
}

.navbar{
    background: #366166;
}

.navbar-nav{
    /* margin-left: 700px; */
    background: #366166;

}

.navbar-nav li{
    margin: 0px 30px !important;
}

.navbar-nav li a {
    text-transform:uppercase;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 1px;
    color:#fff;
    position: relative;

}

.navbar-nav li a:before {
   content:'';
   position:absolute;
   top: 100px;
   bottom: 0px;
   width: 0%;
   height: 4%;
   background:#fff;
   ;
   transition: all 0.3s linear;
   margin-top: -60px;
}
.navbar-toggler{
    text-white;
}

.navbar-nav li a:hover:before{
       width: 80%;
   }
   .navbar-nav li a:{
       color:#fff;
   }

.navbar-nav li a:hover{
   color:#fff !important;
}

.navbar-nav li .active{
   color:#fff !important;
}
   @media (max-width:998px){
       .navbar-nav{
           margin-top: 44px !important;
           text-align: center !important;
       }
       .navbar-nav li a:hover:before{
           width: 0%;
       }
       pre{
         font-family:  "Hubballi", sans-serif;
         font-size: 18px;
       }
   }


    /* header style css */
    .header_text{
        font-size: 20px;
        color:#608783;
    }




    @media (max-width:460px) {
        .textcontainer p{
            font-size: 15px !important;
        }
        .imgfol img{
            width:150px;
            height:150px'
            object-fit:contain;
        }
        .contactImage img{
            width:160px;
            height:160px'
            object-fit:contain;
        }
    }

    .whatwedo h3{
        color:#608783 ;
        margin-bottom: 50px;
    }
    .whatwedo li{
    list-style: none;
    }
    @media screen and (max-width:768px) {
      .whattodoabout {
         text-align: center !important;
      }
      .whatwedo {
          text-align: center !important;
       }
       .contact_section{
          text-align: center !important;
       }
     }

    @media screen and (max-width:860px) {
      .textcontainer p{
          font-size: 17px !important;
      }

         .imgfol img{
             width:200px;
             height:200px;
             object-fit:contain;
         }
         .contactImage img{
             width:180px;
             height:180px;
             object-fit:contain;
         }

    }

    @media screen and (max-width:960px) {
        .whattodoabout a {
            font-size:18px !important;
            text-align: center !important;
        }

        .imgfol img{
            width:150px;
            height:150px;
            object-fit:contain;
        }
        .contactImage img{
            width:260px;
            height:260px;
            object-fit:contain;
        }
    }
    @media screen and (max-width:1360px) {
      .contactImage img{
          width:260px;
          height:260px;
          object-fit:contain;
      }
      }


    .button {
        background-color: #608783;
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        border-radius:6px;
      }
    .whattodoabout{
        margin-top:60px;
        font-size: 20px;
    }

    .whattodoabout a{
        margin-top: 40px;
        color:#608783 ;
        text-decoration: none;
        text-transform:uppercase;
        font-size: 20px;
        font-weight: 800px;
        letter-spacing: 2px;
        padding:10px;
    }
    .bgimg a{
        color:#fff;
    }

.whatwedo_me1{
  Background:#f9f8f5;
  color: #fff;
  position:786px;

}

.contact_me1{
    Background:#366166;
    color: #fff;
    position:786px;
}

.footer{
  background-color: #f9f8f5;
}

.footerlink{
    color:#608783 ;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding:10px;

}
.footerlink a{
    color:#608783 ;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding:10px;
    font-size: 20px;
}
